
body>header{
margin-left:auto;
margin-right: auto;
width:  80%;
border: 3px blue inset;
border-radius: 10px;
height:125px;
background-color: rgb(205,205,205);

}

header>img{
padding-top:25px;
padding-left: 5%;
width: 25%;
height: 50px;
}


#corps{
position: relative;
top: 10px;
display:block;
width: 80%;
margin-left:auto;
margin-right: auto;

}

#contenu{
display: inline-block;
border-radius: 10px;
width:50%;
height:1000px;
overflow: auto;
background-color: #ffe4c4;

text-align: justify;
padding-left:5%;
padding-right:5%;
}

h1{
padding-top:50px;
text-align:center;
}

h2{
padding-top:20px;
text-align:center;
color: green;
font-size: 20px;
}

contenu>p{
vertical-align:middle;
text-align: center;

}

:required{
background-color:white;
width:30%;
}

#blocs{
display: inline-block;
position: relative;
left: 1%;
vertical-align: top;
width:38%;
height:1000px;
}

#bloc1{
display:block;
border-radius: 20px;
width:100%;
height:495px;
overflow: auto;
background-color: rgb(205,205,205);
text-align: justify;

}

#bloc1>p{
vertical-align:middle;
text-align: center;
}
#bloc2{
display:block;
position:relative;
border-radius: 20px;
width:100%;
height:480px;
top: 20px;
background-image:url(site.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}

footer{
position:relative;
top: 10px;
border: 3px blue inset;
border-radius: 10px;
height:100px;
width: 80%;
margin-left:auto;
margin-right: auto;
background-color: rgb(205,205,205);
padding-top:30px;

}


#im1{
display:inline-block;
padding-left: 10%;
width: 20%;
height:40px;
}

.liens{
display: inline-block;
position: relative;
text-align: center;
width: 20%;
padding-left: 10%;
}

#im2{
display: inline-block;
position: relative;
padding-left: 10%;
width: 20%;
height: 40px;
}

footer a {
display: block;

}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
 
a{
 margin-left:20%;
 float:left;
 color:black;
 text-decoration:none;
 }


 label{
 display:block;
 float: left;
 width: 30%;
 }
 
 input{
 border-radius: 6px;
 }
 
 #a{
 display:inline-block;
 position: relative;
 float: right;

 }
 #utilisateur{
 position: relative;
 float: right;
 display:block;
 padding-top:5px;
 
 }
  
 #deco{
 position: relative;
 display:block;
  float: right;
 
 }
 
.alerte{
color: red;
text-align: center;
}
